 #coffee {
    .coffee-nav a.coffee-link {
        color: #000;
    }
 }
 

.main{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    align-items: center;
    margin: 0 auto;
    &__intro{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 35vh;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
        &__text1{
            font-size: 20px;
            letter-spacing: 3px;
            color: #000000;
            font-weight: 300;
            font-family: "Roboto Condensed";
            margin-bottom: -40px;
            padding-top: 50px;
            padding-bottom: 30px;
            // margin-top: -20px;
            h1 {
                font-weight: 300;
            }
        }
        &__text2{
            font-size: 16px;
            line-height: 1.8rem;
            color: #000000;
            font-weight: 300;
            font-family: "Roboto Condensed";
            a{
                text-decoration: none;
            }
        }
        &__text3{
            font-size: 16px;

            color: #000000;
            font-weight: 300;
            font-family: "Roboto Condensed";
        }
    }
    &__photos{
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 1600px;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 4rem;
        &__cards{
            display: flex;
            flex-direction: column;
            width: 48%;
            // min-height: 780px;
            // align-items: stretch;
            margin-top: 20px;
            padding-bottom: 20px;
            &__name{
                min-height: 10%;
                background-color: #eceff4;
                font-size: 28px;
                letter-spacing: 2px;
                color: #000000;
                font-weight: 300;
                font-family: "Roboto Condensed";
                padding: 1rem;
            }
            &__pic{
                width: 100%;
                height: 64%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            &__desc{
                display: flex;
                flex-direction: column;
                padding-bottom: 10px;
                background-color: #eceff4;
                flex-wrap: wrap;
                padding-left: 10px;
                min-height: 26%;
                }

            }
        }
    }
.desc_1{
    font-size: 16px;
    color: #000000;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto Condensed";}
    .desc_2{
font-size: 16px;
color: #000000;
font-weight: 300;
font-family: "Roboto Condensed";
    }

    @media screen and (max-width: 768px){
        .main{
            padding-left: 3rem;
            padding-right: 3rem;
            &__photos{
                flex-direction: column;
                // min-height: 2000px;
                &__cards{
                    width: 100%;
                    
                }
            }
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1000px){
        .main{
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }